/*Created with Adobe RoboHelp 9.*/
A.expandspot {
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}
A.dropspot {
	cursor: hand;
	color: #008000;
	font-style: italic;
	font-family: Cambria;
	font-size: 11pt;text-decoration: none;
}
A.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
SPAN.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}
tyle:italic; font-weight:bold; } p.WD_Heading5 {
	margin-top: 10.0pt;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: 0in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Cambria, serif;
	color: #243F60;
	font-weight: normal;
}
p.WD_Heading6 {
	margin-top: 10.0pt;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: 0in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Cambria, serif;
	color: #243F60;
	font-weight: normal;
	font-style: italic;
}
p.WD_Toc1 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: 5.0pt;
	margin-left: 0in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
}
p.WD_Toc2 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: 5.0pt;
	margin-left: 11.0pt;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
}
p.WD_Toc3 {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: 5.0pt;
	margin-left: 22.0pt;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
}
p.WD_Caption {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: 10.0pt;
	margin-left: 0in;
	font-size: 9.0pt;
	font-family: Calibri, sans-serif;
	color: #4F81BD;
	font-weight: bold;
}
span.WD_Hyperlink {
	color: #0000ff;
	text-underline: single;
	font-family: Cambria;text-decoration: underline;
}
span.WD_HyperlinkFollowed {
	color: #800080;
	text-underline: single;text-decoration: underline;
}
p.WD_Acetate {
	margin: 0in;
	margin-bottom: .0001pt;
	font-size: 8.0pt;
	font-family: Tahoma, sans-serif;
}
p.WD_ListParagraph {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: 10.0pt;
	margin-left: .5in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
}
p.WD_ListParagraphCxSpFirst {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
}
p.WD_ListParagraphCxSpMiddle {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: .5in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
}
p.WD_ListParagraphCxSpLast {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: 10.0pt;
	margin-left: .5in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
}
p.WD_Quote {
	margin-top: 0in;
	margin-right: 0in;
	margin-bottom: 10.0pt;
	margin-left: 0in;
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
	color: #000000;
	font-style: italic;
}
p.WD_IntenseQuote {
	margin-top: 10.0pt;
	margin-right: .65in;
	margin-bottom: 14.0pt;
	margin-left: .65in;
	line-height: 115%;
	border: none;
	padding: 0in;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
	color: #4F81BD;
	font-weight: bold;
	font-style: italic;
}
p.WD_TocHeading {
	margin-top: 24.0pt;
	margin-right: 0in;
	margin-bottom: .0001pt;
	margin-left: 0in;
	line-height: 115%;
	font-size: 14.0pt;
	font-family: Cambria, serif;
	color: #365F91;
	font-weight: bold;
}
span.WD_Heading2Char {
	font-family: Cambria, serif;
	color: #4F81BD;
	font-weight: bold;
}
span.WD_Heading3Char {
	font-family: Cambria, serif;
	color: #4F81BD;
	font-weight: bold;
}
span.WD_QuoteChar {
	color: #000000;
	font-style: italic;
	font-size: 11pt;
	font-family: Cambria;
}
span.WD_IntenseQuoteChar {
	color: #4F81BD;
	font-weight: bold;
	font-style: italic;
}
span.WD_Heading1Char {
	font-family: Cambria, serif;
	color: #365F91;
	font-weight: bold;
}
span.WD_BalloonTextChar {
	font-family: Tahoma, sans-serif;
}
span.WD_Heading4Char {
	font-family: Cambria, serif;
	color: #4F81BD;
	font-weight: bold;
	font-style: italic;
}
span.WD_Heading5Char {
	font-family: Cambria, serif;
	color: #243F60;
}
span.WD_Heading6Char {
	font-family: Cambria, serif;
	color: #243F60;
	font-style: italic;
}
OL {
	margin-top: 0px;
	margin-bottom: 0px;
}
UL {
	margin-top: 0px;
	margin-bottom: 0px;
}
rh-list.MSWordList15 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-3-format: "<x>.";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: lower-roman;
	x-lvl-4-format: "<x>.";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: decimal;
	x-lvl-5-format: "<x>.";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: lower-alpha;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "<x>.";
	x-lvl-6-text-indent: -12px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: decimal;
	x-lvl-8-format: "<x>.";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: lower-alpha;
	x-lvl-9-type: lower-roman;
	x-lvl-9-text-indent: -12px;
	x-lvl-9-format: "<x>.";
}
rh-list.MSWordList14 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList13 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-3-format: "<x>.";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: lower-roman;
	x-lvl-4-format: "<x>.";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: decimal;
	x-lvl-5-format: "<x>.";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: lower-alpha;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "<x>.";
	x-lvl-6-text-indent: -12px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: decimal;
	x-lvl-8-format: "<x>.";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: lower-alpha;
	x-lvl-9-type: lower-roman;
	x-lvl-9-text-indent: -12px;
	x-lvl-9-format: "<x>.";
}
rh-list.MSWordList12 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList11 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList10 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList9 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-3-format: "<x>.";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: lower-roman;
	x-lvl-4-format: "<x>.";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: decimal;
	x-lvl-5-format: "<x>.";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: lower-alpha;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "<x>.";
	x-lvl-6-text-indent: -12px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: decimal;
	x-lvl-8-format: "<x>.";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: lower-alpha;
	x-lvl-9-type: lower-roman;
	x-lvl-9-text-indent: -12px;
	x-lvl-9-format: "<x>.";
}
rh-list.MSWordList8 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList7 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList6 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-3-format: "<x>.";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: lower-roman;
	x-lvl-4-format: "<x>.";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: decimal;
	x-lvl-5-format: "<x>.";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: lower-alpha;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "<x>.";
	x-lvl-6-text-indent: -12px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: decimal;
	x-lvl-8-format: "<x>.";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: lower-alpha;
	x-lvl-9-type: lower-roman;
	x-lvl-9-text-indent: -12px;
	x-lvl-9-format: "<x>.";
}
rh-list.MSWordList5 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-3-format: "<x>.";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: lower-roman;
	x-lvl-4-format: "<x>.";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: decimal;
	x-lvl-5-format: "<x>.";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: lower-alpha;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "<x>.";
	x-lvl-6-text-indent: -12px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: decimal;
	x-lvl-8-format: "<x>.";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: lower-alpha;
	x-lvl-9-type: lower-roman;
	x-lvl-9-text-indent: -12px;
	x-lvl-9-format: "<x>.";
}
rh-list.MSWordList4 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-3-format: "<x>.";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: lower-roman;
	x-lvl-4-format: "<x>.";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: decimal;
	x-lvl-5-format: "<x>.";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: lower-alpha;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "<x>.";
	x-lvl-6-text-indent: -12px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: decimal;
	x-lvl-8-format: "<x>.";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: lower-alpha;
	x-lvl-9-type: lower-roman;
	x-lvl-9-text-indent: -12px;
	x-lvl-9-format: "<x>.";
}
rh-list.MSWordList3 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-margin: 51px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-2-margin: 99px;
	x-lvl-3-margin: 147px;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-margin: 195px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-5-margin: 243px;
	x-lvl-6-margin: 291px;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-7-margin: 339px;
	x-lvl-8-margin: 387px;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-margin: 435px;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList2 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList1 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList0 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList31 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-3-format: "<x>.";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: lower-roman;
	x-lvl-4-format: "<x>.";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: decimal;
	x-lvl-5-format: "<x>.";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: lower-alpha;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "<x>.";
	x-lvl-6-text-indent: -12px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: decimal;
	x-lvl-8-format: "<x>.";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: lower-alpha;
	x-lvl-9-type: lower-roman;
	x-lvl-9-text-indent: -12px;
	x-lvl-9-format: "<x>.";
}
rh-list.MSWordList30 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet001;
	x-lvl-3-format: "<x>.";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: lower-roman;
	x-lvl-4-format: "<x>.";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: decimal;
	x-lvl-5-format: "<x>.";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: lower-alpha;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "<x>.";
	x-lvl-6-text-indent: -12px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: decimal;
	x-lvl-8-format: "<x>.";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: lower-alpha;
	x-lvl-9-type: lower-roman;
	x-lvl-9-text-indent: -12px;
	x-lvl-9-format: "<x>.";
}
rh-list.MSWordList29 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-3-format: "<x>.";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: lower-roman;
	x-lvl-4-format: "<x>.";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: decimal;
	x-lvl-5-format: "<x>.";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: lower-alpha;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "<x>.";
	x-lvl-6-text-indent: -12px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: decimal;
	x-lvl-8-format: "<x>.";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: lower-alpha;
	x-lvl-9-type: lower-roman;
	x-lvl-9-text-indent: -12px;
	x-lvl-9-format: "<x>.";
}
rh-list.MSWordList28 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList27 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-3-format: "<x>.";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: lower-roman;
	x-lvl-4-format: "<x>.";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: decimal;
	x-lvl-5-format: "<x>.";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: lower-alpha;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "<x>.";
	x-lvl-6-text-indent: -12px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: decimal;
	x-lvl-8-format: "<x>.";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: lower-alpha;
	x-lvl-9-type: lower-roman;
	x-lvl-9-text-indent: -12px;
	x-lvl-9-format: "<x>.";
}
rh-list.MSWordList26 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList25 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-3-format: "<x>.";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: lower-roman;
	x-lvl-4-format: "<x>.";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: decimal;
	x-lvl-5-format: "<x>.";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: lower-alpha;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "<x>.";
	x-lvl-6-text-indent: -12px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: decimal;
	x-lvl-8-format: "<x>.";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: lower-alpha;
	x-lvl-9-type: lower-roman;
	x-lvl-9-text-indent: -12px;
	x-lvl-9-format: "<x>.";
}
rh-list.MSWordList24 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList23 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList22 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList21 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList20 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList19 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList18 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-3-format: "<x>.";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: lower-roman;
	x-lvl-4-format: "<x>.";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: decimal;
	x-lvl-5-format: "<x>.";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: lower-alpha;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "<x>.";
	x-lvl-6-text-indent: -12px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: decimal;
	x-lvl-8-format: "<x>.";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: lower-alpha;
	x-lvl-9-type: lower-roman;
	x-lvl-9-text-indent: -12px;
	x-lvl-9-format: "<x>.";
}
rh-list.MSWordList17 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: bullet001;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: bullet002;
	x-lvl-3-format: "<x>";
	x-lvl-3-text-indent: -24px;
	x-lvl-3-type: bullet003;
	x-lvl-4-format: "<x>";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: bullet001;
	x-lvl-5-format: "<x>";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: bullet002;
	x-lvl-6-type: bullet003;
	x-lvl-6-format: "<x>";
	x-lvl-6-text-indent: -24px;
	x-lvl-7-format: "<x>";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: bullet001;
	x-lvl-8-format: "<x>";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: bullet002;
	x-lvl-9-type: bullet003;
	x-lvl-9-text-indent: -24px;
	x-lvl-9-format: "<x>";
}
rh-list.MSWordList16 {
	x-level-count: 9;
	x-lvl-1-text-indent: -24px;
	x-lvl-1-type: decimal;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-2-text-indent: -24px;
	x-lvl-2-type: lower-alpha;
	x-lvl-3-format: "<x>.";
	x-lvl-3-text-indent: -12px;
	x-lvl-3-type: lower-roman;
	x-lvl-4-format: "<x>.";
	x-lvl-4-text-indent: -24px;
	x-lvl-4-type: decimal;
	x-lvl-5-format: "<x>.";
	x-lvl-5-text-indent: -24px;
	x-lvl-5-type: lower-alpha;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "<x>.";
	x-lvl-6-text-indent: -12px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-text-indent: -24px;
	x-lvl-7-type: decimal;
	x-lvl-8-format: "<x>.";
	x-lvl-8-text-indent: -24px;
	x-lvl-8-type: lower-alpha;
	x-lvl-9-type: lower-roman;
	x-lvl-9-text-indent: -12px;
	x-lvl-9-format: "<x>.";
}
rh-seq.bullet002 {
	x-count: 1;
	x-1: o;
	x-font: Courier New;
}
rh-seq.bullet003 {
	x-count: 1;
	x-1: ;
	x-font: Wingdings;
}
rh-seq.bullet001 {
	x-count: 1;
	x-1: ;
	x-font: Symbol;
}
A.breadcrumbs {
	font-size: 11pt;
	font-family: Cambria;
}
P {
	margin-top: 14pt;
	margin-bottom: 14pt;
	margin-left: 0pt;
	margin-right: 0pt;
	font-family: Cambria;
	font-size: 11pt;
}
