.filters {
	border:thin;
	border-style:solid;
	border-color:#002266;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	margin-top:1px;
	margin-left:3px;
	margin-right:3px;
	padding:2px;
	height:120px;
}

.date {
	width:50%;
	float:left;
	text-indent:5px;
}
.text_column1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	width:250px;
	float:left;
	text-align:left;
}

.text_column2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	float:left;
	width:250px;
}

.column1 {
	float:left;
	text-align:left;
	margin-left:5px;
	margin-bottom:3px;
	margin-right:0px;
	margin-top:0px;	
	line-height:27px;
}

.column {
	float:left;
	margin-bottom:3px;
	margin-right:20px;
	line-height:20px;
	margin-top:7px;	
}

.lastColumn {
	margin-left:13px;
	margin-bottom:3px;
	margin-top:7px;	
	line-height:20px;
}
.auditList {
	background-color:inherit;
	margin-top:6px;
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:x-small;
	color:#000000;
}
.auditResults {
	height:25px;
	background-color:inherit;
	text-indent:0px;
}
.resultTable{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-align:left;
	table-layout:auto;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
}
.resultsList{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	float:left;
	text-align:left;
	table-layout:auto;
	margin-left:5px;
	margin-right:3px;
	margin-top:5px;
}

.mainBody {
	width=100%;
	position: absolute;
	margin-top: 70px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	margin-left:0px;
	left:0;
}

.bottomRight {
	float:right;
	font-family:inherit
	font-size:x-small;
	margin-right:5px;
	margin-top:3px;
}
.buttonPanel {
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	height:30px;
	line-height:30px;
	margin-top:10px;
	background-color:inherit;
}

.buttonLeft {
	float:left;
	margin-top:inherit;
}

.buttonCenter {
	float:left;
	margin-left:400px;
	margin-top:inherit;
}
.adjbuttonCenter {
	float:left;
	margin-left:2.5px;
	margin-top:inherit;
}
.buttonRight {
	float:right;
	margin-right:10px;
	margin-top:inherit;
}

.button {
	margin-left:3px;
	margin-top:3px;
}

.wrapButton {
	size:20px;
}

table {
	width:100%;
	border-color:#000000;
	border-width:thin;
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	font-weight:normal;
}

th {
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	font-weight:bold;
	background-color:#b0b0b0;
	padding:0,0,0,0;
	text-align:center;
}

td {
	padding:3,3,3,3;
	
}

.productHeader {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-indent:5px;
	margin-top:10px;
	float:left;
}
.vuidHeader {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-indent:5px;
	margin-top:10px;
	margin-right:10px;
	float: right;
}

.pageTitle {
	position: absolute;
	margin-top: 127px;
	width: 100%;/*899px;*/
	height: 32px;
	background-color: #630C21;
	font-weight: bold;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	margin-left:0px;
	left:0px;
}

.textfield1 {
	float:left;
	margin-bottom:3px;
	margin-right:20px;
	line-height:20px;
	margin-top:9px;	
	line-height:28px;
}

         <STYLE>
                a.info {
                     z-index: 24;
                     color: #000;
   
                position: relative;
   
                  text-decoration: none;
   
              }
   
              a.info:hover {
   
                  z-index: 25;
  
                  background-color: #CCC;
  
                 color:#000;
  
              }
  
              a.info SPAN {
  
                  display: none
  
              }
  
              a.info:hover SPAN {
  
                  display: block;
  
                  left: 2em;
  
                  width: 15em;
  
                  color: #000;
  
                  border: #666 1px solid;
  
                  position: absolute;
				  
				  /*sets position of popup*/
				  margin-left:760px;
				  margin-top:27px;
  
                  top: 2em;
  
                  background-color: #eee;
  
                  text-align: left;
  
                  padding:3px;
  
              }
  
          </STYLE> 