.heading {
	width:100%;
	margin-top:70px;
}

.filters {
	border:thin;
	border-style:solid;
	border-color:#002266;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	margin-top:1px;
	margin-left:3px;
	padding:2px;
	height:120px;
}
.fieldset {
	margin-top:3px;
	border-top:thin;
	border-top-style:solid;
	border-top-color:#CCCCCC;
	border-bottom:none;
	border-left:none;
	border-right:none;
}

.date {
	width:100%;
	text-indent:5px;
}


.column1 {
	float:left;
	text-align:left;
	margin-left:5px;
	margin-bottom:3px;
	margin-right:0px;
	margin-top:8px;	
	line-height:27px;
}

.column {
	float:left;
	margin-bottom:3px;
	margin-right:20px;
	line-height:20px;
	margin-top:7px;	
}

.lastColumn {
	margin-left:13px;
	margin-bottom:3px;
	margin-top:7px;	
	line-height:18px;
}

.resultsList{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	float:left;
	text-align:left;
	table-layout:auto;
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
}

.mainBody {
	width=100%;
	position: absolute;
	margin-top: 35px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	margin-left:0px;
	left:0;
}
.new_mainBody {
	width=100%;
	position: absolute;
	margin-top: 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	margin-left:0px;
	left:0;
}

.bottomRight {
	float:right;
	font-family:inherit
	font-size:x-small;
	margin-right:5px;
	margin-top:3px;
}

.button {
	margin-left:3px;
}
.buttonCenter {
	float:left;
	margin-left:400px;
	margin-top:inherit;
}
.adjbuttonCenter {
	float:left;
	margin-left:2.5px;
	margin-top:inherit;
}

.wrapButton {
	size:20px;
}

.table_with_border {
	width:100%;
	border-color:#000000;
	border-width:thin;
}

th {
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	font-weight:bold;
	background-color:#b0b0b0;
	padding:0,0,0,0;
	text-align:center;
}
tr {
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	font-weight:normal;
}
td {
	padding:3,3,3,3;
	
}


.button {
	size:12em;
	text-align:center;
	margin-top:30px;
}